name: build
permissions:
  contents: read

on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main
  schedule:
    - cron: "0 2 * * 0"
  workflow_dispatch:

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUSTUP_MAX_RETRIES: 10

jobs:
  build:
    name: Build release binaries
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest

          # ARM64 runner not available in GitHub Actions
          # - target: aarch64-unknown-linux-gnu
          #   os: ubuntu-latest-arm64

    runs-on: ${{ matrix.os }}
    continue-on-error: true
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v4

      - name: Setup | System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libpcap-dev
          sudo rm -rf /var/lib/apt/lists/*

      - name: Setup | Rust Toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          target: ${{ matrix.target }}

      - name: Test
        run: cargo test --target ${{ matrix.target }}

      - name: Build
        run: cargo build --release --locked --target ${{ matrix.target }}

  docker_build:
    name: Docker multi-arch build
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v4

      - name: Setup | QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup | Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: linux/amd64,linux/arm64

      - name: Build | Docker Images
        uses: docker/build-push-action@v6
        with:
          push: false
          platforms: linux/amd64,linux/arm64
          labels: |
            org.opencontainers.image.source=https://github.com/${{ github.repository }}
            org.opencontainers.image.revision=${{ github.sha }}
            org.opencontainers.image.created=${{ github.event.head_commit.timestamp }}
            org.opencontainers.image.version=${{ github.ref_name }}
          tags: |
            yinheli/dns-query-monitor:${{ github.sha }}
            yinheli/dns-query-monitor:latest
